<!-- public/basic-settings.html -->
<div class="mdui-typo">
    <h1>基本设置</h1>
</div>

<div class="mdui-row">
    <div class="mdui-col-md-6 mdui-col-offset-md-3">
        <div class="mdui-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">系统操作</div>
                <div class="mdui-card-primary-subtitle">请谨慎操作</div>
            </div>
            <div class="mdui-card-content">
                <p>点击下方按钮重置注入冷却。</p>
            </div>
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="restartSystem()">
                    重置
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function restartSystem() {
        const adminPassword = localStorage.getItem('adminPassword');

        mdui.confirm('确定要重置注入冷却吗？', '重启确认',
            function () {
                fetch('/admin/colddown/reset', {
                    method: 'POST',
                    headers: {
                        'X-Admin-Password': adminPassword
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            mdui.alert('CD重置成功');
                        } else {
                            mdui.alert('CD重置失败: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        mdui.alert('请求失败，请稍后再试');
                    });
            },
            function () {
            },
            {
                confirmText: '确定重置',
                cancelText: '取消'
            }
        );
    }
</script>