<!-- public/basic-settings.html -->
<div class="mdui-typo">
    <h1>基本设置</h1>
</div>

<div class="mdui-row">
    <div class="mdui-col-md-6 mdui-col-offset-md-3">
        <div class="mdui-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">系统操作</div>
                <div class="mdui-card-primary-subtitle">请谨慎操作</div>
            </div>
            <div class="mdui-card-content">
                <p>点击下方按钮重置注入冷却。</p>
            </div>
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                        onclick="resetGlobalColdDown()">
                    重置
                </button>
            </div>
        </div>
        <div class="mdui-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">维护模式</div>
                <div class="mdui-card-primary-subtitle">操作后只有永久用户可以注入,网页会显示维护</div>
            </div>
            <div class="mdui-card-content">
                <p>点击下方按钮<span id="injectState" style="color: red">加载中... (如果卡住请重新登录)</span>维护模式
                </p>
            </div>
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="toggleInject()">
                    操作
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let maintenanceModeState = true;

    function resetGlobalColdDown() {
        const adminPassword = localStorage.getItem('adminPassword');

        mdui.confirm('确定要重置注入冷却吗？', '重置确认',
            function () {
                fetch('/admin/colddown/reset', {
                    method: 'POST',
                    headers: {
                        'X-Admin-Password': adminPassword
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.code === 200) {
                            mdui.alert('CD重置成功');
                        } else {
                            mdui.alert('CD重置失败: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        mdui.alert('请求失败，请稍后再试');
                    });
            },
            function () {
            },
            {
                confirmText: '确定重置',
                cancelText: '取消'
            }
        );
    }

    function maintenanceText() {
        if (maintenanceModeState) {
            return "关闭";
        }
        return "开启";
    }

    function loadMaintenanceState() {
        const adminPassword = localStorage.getItem('adminPassword');

        fetch("/admin/maintenance/state", {
            method: 'GET',
            headers: {
                'X-Admin-Password': adminPassword,
                'Content-Type': "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.code === 200) {
                    maintenanceModeState = data.data.state
                    document.getElementById("injectState").innerText = maintenanceText()
                }
            });
    }

    function toggleInject() {
        const adminPassword = localStorage.getItem('adminPassword');

        mdui.confirm(`确定要${maintenanceText()}维护模式吗?`, '确认',
            function () {
                fetch('/admin/maintenance/state', {
                    method: 'POST',
                    headers: {
                        'X-Admin-Password': adminPassword,
                        'Content-Type': "application/json"
                    },
                    body: JSON.stringify({
                        maintaining: !maintenanceModeState
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.code === 200) {
                            loadMaintenanceState()
                            mdui.alert('切换成功');
                        } else {
                            mdui.alert('切换失败: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        mdui.alert('请求失败，请稍后再试');
                    });
            },
            function () {
            },
            {
                confirmText: '确定切换',
                cancelText: '取消'
            }
        );
    }

    loadMaintenanceState();
</script>