<!-- public/login.html -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 - 后台管理系统</title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css">
    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-md-4 mdui-col-offset-md-4">
                <div class="mdui-card mdui-m-t-5">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">登录</div>
                        <div class="mdui-card-primary-subtitle">请输入超级管理密码</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-textfield mdui-textfield-floating-label">
                            <label class="mdui-textfield-label">超级管理密码</label>
                            <input class="mdui-textfield-input" type="password" id="password"/>
                        </div>
                    </div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="login()">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function login() {
            const password = document.getElementById('password').value;
            fetch('/admin/ping', {
                method: 'POST',
                headers: {
                    // 'Content-Type': 'application/x-www-form-urlencoded'
                    "X-Admin-Password": password
                },
            })
            // .then(response => response.json())
            .then(response => {
                if (response.ok) {
                    sessionStorage.setItem('adminPassword', password);
                    window.location.href = '/dashboard';
                } else {
                    mdui.alert('登录失败');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                mdui.alert('登录失败，请稍后再试');
            });
        }
    </script>
</body>
</html>