<!-- public/user-list.html -->
<div class="mdui-typo">
    <h1>用户列表</h1>
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red" onclick="removeExpiredUsers()">一键清除过期用户</button>
</div>
<div class="mdui-table-fluid">
    <table class="mdui-table mdui-table-hoverable">
        <thead>
        <tr>
            <th>用户名</th>
            <th>剩余天数</th>
            <th>失效时间</th>
            <th>上次注入时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="user-table-body">
        <!-- 用户数据将通过 JavaScript 动态插入这里 -->
        </tbody>
    </table>
</div>

<script>
    const adminPassword = localStorage.getItem('adminPassword');

    function fetchUserData() {
        fetch('/admin/listUsers', {
            headers: {
                'X-Admin-Password': adminPassword
            }
        })
            .then(response => response.json())
            .then(users => {
                renderUserList(users);
            })
            .catch(error => {
                console.error('Error fetching user data:', error);
                document.getElementById('user-table-body').innerHTML = '<tr><td colspan="5">Error loading user data</td></tr>';
            });
    }

    function formatDate(timestamp) {
        let date = new Date(timestamp)
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        let hours = date.getHours().toString().padStart(2, '0');
        let minutes = date.getMinutes().toString().padStart(2, '0');
        let seconds = date.getSeconds().toString().padStart(2, '0');

        return `${year}年${month}月${day}日 ${hours}:${minutes}:${seconds}`;
    }

    // 渲染用户列表
    function renderUserList(users) {
        const tableBody = document.getElementById('user-table-body');
        tableBody.innerHTML = '';

        users.forEach(user => {
            const row = document.createElement('tr');
            let expire = ((user.expire - Date.now()) / (24 * 60 * 60 * 1000)).toFixed(2);
            if (user.expire === -1) expire = "无限时长";
            else if (user.expire < Date.now()) expire = `已过期 ${Math.abs(parseFloat(expire))} 天`;
            // 到期时间
            let expire1 = formatDate(user.expire);
            let lastInject = formatDate(user.lastLaunch);

            if (user.expire === -1) expire1 = "好像到期不了";
            if (user.lastLaunch === -1) lastInject = "没用过";

            row.innerHTML = `
                <td>${user.username}</td>
                <td>${expire}</td>
                <td>${expire1}</td>
                <td>${lastInject}</td>
                <td>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue" onclick="changePassword('${user.username}')">修改密码</button>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="addDays('${user.username}')" ${user.expire === -1 ? 'hidden' : ''}>增加天数</button>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red" onclick="deleteUser('${user.username}')">删除</button>
                </td>
            `;
            tableBody.appendChild(row);
        });
    }

    function removeExpiredUsers() {
        mdui.confirm('确定要清除所有过期用户吗？', '清除过期用户',
            function () {
                fetch('/admin/removeExpired', {
                    method: 'DELETE',
                    headers: {
                        'X-Admin-Password': adminPassword
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        mdui.alert('已清除所有过期用户');
                        fetchUserData();
                    })
                    .catch(error => {
                        console.error('Error removing expired users:', error);
                        mdui.alert('清除过期用户失败');
                    });
            },
            function () {
            },
            {
                confirmText: '确认',
                cancelText: '取消'
            }
        );
    }
    
    // 增加天数函数（示例）
    function addDays(username) {
        mdui.prompt('请输入要增加的天数：', '增加天数',
            function (value) {
                let days = parseInt(value)
                if (isNaN(days) || days < -1) {
                    mdui.alert('不是一个有效的天数');
                    return
                }
                // 这里应该调用API来更新用户天数
                fetch(`/admin/renew/${username}?day=${days}`, {
                    method: 'POST',
                    headers: {
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Admin-Password': localStorage.getItem('adminPassword')
                    },
                    // body: ``,
                })
                    .then(response => response.json())
                    .then(data => {
                        mdui.alert('已为用户 ' + username + ' 增加 ' + value + ' 天');
                        fetchUserData(); // 重新加载用户列表
                    })
                    .catch(error => {
                        console.error('Error adding days:', error);
                        mdui.alert('增加天数失败');
                    });
            },
            function (value) {
            },
            {
                // type: 'number',
                confirmText: '确认',
                cancelText: '取消'
            }
        );
    }

    function changePassword(username) {
        mdui.prompt('请输入新密码：', '修改密码',
            function (value) {
                fetch(`/admin/password/${username}/reset?password=${value}`, {
                    method: 'POST',
                    headers: {
                        'X-Admin-Password': localStorage.getItem('adminPassword')
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        mdui.alert('已为用户 ' + username + ' 设置新的密码');
                        fetchUserData(); // 重新加载用户列表
                    })
                    .catch(error => {
                        console.error('Error adding days:', error);
                        mdui.alert('设置密码失败');
                    });
            },
            function (value) {
            },
            {
                confirmText: '确认',
                cancelText: '取消'
            }
        );
    }


    // 删除用户函数（示例）
    function deleteUser(username) {
        mdui.confirm('确定要删除用户 ' + username + ' 吗？', '删除用户',
            function () {
                // 这里应该调用API来删除用户
                fetch(`/admin/removeUser/${username}`, {
                    method: 'DELETE',
                    headers: {
                        'X-Admin-Password': localStorage.getItem('adminPassword')
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        mdui.alert('已删除用户 ' + username);
                        fetchUserData(); // 重新加载用户列表
                    })
                    .catch(error => {
                        console.error('Error deleting user:', error);
                        mdui.alert('删除用户失败');
                    });
            },
            function () {
            },
            {
                confirmText: '确认',
                cancelText: '取消'
            }
        );
    }
    fetchUserData()
</script>
