<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顶真租号平台 - 为玩家打造的共享体验</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script>
        async function checkConnection() {
            let domains = [
                "https://vape.gg",
                "https://www.vape.gg",
                "http://chink2.vape.gg",
                "https://online.vape.gg"
            ]
            for (let domain of domains) {
                let url = `${domain}/check`
                try {
                    const response = await fetch(url, { method: 'GET', mode: 'cors' });
                    if (response.ok) {
                        document.getElementById('hosts').innerHTML = 'OK';
                    } else {
                        document.getElementById('hosts').innerHTML = '已配置hosts,但是某些服务器的返回值不正确';
                    }
                } catch (error) {
                    document.getElementById('hosts').innerHTML = '配置错误';
                    console.error('Network error:', error);
                }
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>欢迎来到顶真租号平台</h1>
        
        <p class="highlight">恭喜! 你已成功运行顶真租号玩。这是CubeWhyMC为无法承担顶针客户端高昂费用的玩家打造的顶尖顶针体验平台。</p>
        
        <h2>平台介绍</h2>
        <p class="highlight">这是一个Minecraft Cheat服务, 不要DDoS我们的服务, 谢谢</p>

        <p>顶真租号平台旨在为广大游戏玩家提供一个经济实惠的游戏体验方案。我们深知很多玩家渴望体验高级游戏功能，但可能受限于预算。通过我们的共享账号服务，你可以以极具竞争力的价格享受到顶级游戏体验。</p>
        
        <h2>使用说明</h2>
        <a href="/colddown" class="next-inject">下一次发车时间</a>
        <p>1. 设置hosts: 完成赞助后，你只需要按照指引进行设置即可开始游玩。</p>
        <p>2. 享受游戏: 设置完成后，你就可以畅享各种高级功能，提升你的游戏体验。</p>
<!--        -->
<!--        <h2>高级绕过 (给开发者看的,可选)</h2>-->
<!--        <p>为了提供更稳定、更安全的服务，我们建议：</p>-->
<!--        <p>通过Nginx搭建wss://vape.gg:443的代理, 这可以帮助绕过潜在的检测。或者，你也可以选择代理rh服务，但需要确保IP地址保持一致。</p>-->
        
        <h2>注意事项</h2>
        <a><button onclick="checkConnection()" id="hosts">点击这里检查hosts配置(自动)</button></a>
        <p>1. 请遵守游戏规则和道德准则，共同维护良好的游戏环境。</p>
        <p>2. 定期查看我们的更新公告，了解最新的功能和改进。</p>
        <p>3. 如遇到任何问题，请及时与我们的客户支持团队联系。</p>
        
        <a href="https://github.com/CubeWhyMC/DingZhenServlet" target="_blank" class="github-link">访问 GitHub 项目</a>
    </div>
</body>
</html>
